<config>
	<score>BM25</score>
	<basedir>/users/buscaldi/Works/YaSemIR</basedir>
	<indexdir>indexOHSUMed87_sem</indexdir>
	<termdir>term_index_0.6</termdir> <!-- terminology index to be created at indexing phase and to be used in search. Location: basedir/indexdir/ -->
	<collection lang="en" >/tempo/corpora/OHSUMed/</collection>
	<annotator>fr.lipn.yasemir.ontology.annotation.IndexBasedAnnotator</annotator>
	<ontologies>
		<ontology root="http://org.snu.bike/MeSH#All" ofile="/users/buscaldi/Works/YaSemIR/ontologies/meshonto.owl"/>
		<ontology root="http://smi.stanford.edu/people/dameron/ontology/anatomy/heart#AnatomicalConcept" ofile="/users/buscaldi/Works/YaSemIR/ontologies/heart.owl"/>
	</ontologies>
	<params>
		<weight val="fixed"/> <!-- used to assign weights to concepts: fixed, idf, prob or gauss -->
		<distance val="pg3"/>
		<ngrams val="false"/> <!-- enables CKPD schema -->
		<search_mode val="hybrid" /> <!-- used for search: hybrid, classic or semantic -->
	</params>
	<semanticfields>
		<field>TAG</field>
		<field>TITLE</field>
		<field>TEXT</field>
	</semanticfields>
	<classicfields>
		<field>TITLE</field>
		<field>TEXT</field>
	</classicfields>
	<idfield isattr="false">DOCNO</idfield>
	<docdelim>DOC</docdelim>
</config>